*~
*.o
*.so
*.user
*.project
build/
pc/config.ini
pc/logs/
.classpath
.cproject
.settings
project.properties
*.class
/bin/
*.aux
*.log
*.out
*.gz
*.toc
/**/.idea/
/**/.vs/
/teensy/**/Debug/
*.sln
/**/__vm/
*.vcxproj
*.vcxproj.filters
